# Prisma
DATABASE_URL="postgres://postgres:postgres@localhost:6432/dtc-web?pgbouncer=true"
DATABASE_URL_NON_POOLING="postgres://postgres:postgres@localhost:5432/dtc-web"

# Redis
REDIS_URL="redis://:redis@redis:6379/0"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="https://discord-checker.janic.dev"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Discord Bot Integration
DISCORD_PUBLIC_KEY=""
DISCORD_BOT_TOKEN=""

# Sellix
SELLIX_API_KEY=""
SELLIX_WEBHOOK_SECRET=""